{% extends "base.html" %}
{% block title %}Objetivos de Desarrollo Sostenible - Sobre nosotros{% endblock %}
<!-- {% block content %} -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <br>
        <br>
        <br>
        <br>
        <h1 class="mt-4">Sobre nosotros</h1>
        <hr>
        <img class="img-fluid rounded" src="/media/posts/photos/grupo9.jpg" alt="">
        <hr>
        <p class="lead">Grupo 9 de Informatorio</p>
        <p>Este grupo fue creado para poder informar y difundir los Objetivos de Desarrollo</p>
        <p>Integrantes:</p>
        <p>Ramiro Tisera</p>
        <p>Elias Vera</p>
        <p>Ezequiel Espindola</p>
        <p>Juan Fernandez</p>
        <p>Sebastian Cejas</p>
        <p></p>
        <hr>
      </div>
<!-- {% endblock %} -->